In [1]:
i=5
print(i)

5

List Mutable

In [9]:
l=[1]*5
print(l)
l.append(2)
print(l)
l.insert(2,3)
print(l)
l1=[3]*3
l.extend(l1) #append list
print(l)
#removing elements
l.remove(2)
print(l)
l1.pop()
print(l1)

[1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 2]
[1, 1, 3, 1, 1, 1, 2]
[1, 1, 3, 1, 1, 1, 2, 3, 3, 3]
[1, 1, 3, 1, 1, 1, 3, 3, 3]
[3, 3]

Tuples Immutable

In [10]:
t=(1,2,3,4)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

numpy: arrays

In [11]:
import numpy as np
arr=np.array([1,2,3,4])
print(arr)
print(type(arr))

[1 2 3 4]
<class 'numpy.ndarray'>